<hr/>
<p>With the Grain is supported by listeners like you.</p>

<p>If you’d like to hear more from Potatowire and other Difficult Podcasts hosts, visit <a href="http://difficultpodcasts.fm/support">http://difficultpodcasts.fm/support</a> and subscribe today.</p>

<p>Besides supporting the work you love and keeping it ad-free, you’ll gain admission to the Difficult Podcasts Slack channel where you can chat with your favorite hosts, tell us what you think, and help us improve future episodes.</p>

<p>Thanks for listening.</p>
